h1 {
  text-align: center;
  color: #191970;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 50px;
}

h2 {
  text-align: center;
  color: #191970;
  font-family: sans-serif;
  text-transform: uppercase;
}

p {
  text-align: center;
  color: #333;
}

ul {
  color: #333;
  text-align: center;
}

div {
  margin: 0 auto;
}

.yhteystiedot {
  position: static;
  width: 500px;
  height: 100px;
  left: 250px;
  text-transform: uppercase;
  text-align: center;
  color: #191970;
  font-family: sans-serif;
}
